{% extends 'base.html.twig' %}

{% block title %}New Worker{% endblock %}

{% block body %}
    <div class="container">
    <h1>Добавление работника</h1>

    {{ include('registration/register.html.twig') }}

    <a href="{{ path('app_worker_index') }}">Вернуться</a>
    </div>
{% endblock %}
