{% extends 'base.html.twig' %}

{% block title %}New Worker{% endblock %}

{% block body %}
    <div class="container">


    {{ include('worker/_form.html.twig') }}
        <h1>Добавление работника</h1>
    <a href="{{ path('app_worker_index') }}">Вернуться</a>
    </div>
{% endblock %}
