{% extends 'base.html.twig' %}
{% block body %}
<body>
<section>
    <blockquote>
        <p>
            “QUISQUE IN ENIM VELIT, AT DIGNISSIM EST. NULLA UL CORPER, DOLOR AC PELLENTESQUE PLACERAT, JUSTO TELLUS
            GRAVIDA ERAT, VEL PORTTITOR LIBERO ERAT.”
        </p>
        <cite>John Doe, Lorem Ipsum</cite>
    </blockquote>
    <p>Lorem ipsum dolor sit amet…</p>
    <p>Donec vel nisl nibh…</p>
    <p>Donec vel nisl nibh…</p>
    <figure>
        <img src="" width="320" height="175" alt="">
    </figure>
    <figure>
        <img src="" width="320" height="175" alt="">
    </figure>
    <h2>Наша команда</h2>
    <div class="team-row">
        <figure>
            <img src="images/sample.png" width="96" height="96" alt="">
            <figcaption>John Doe<span>ceo</span></figcaption>
        </figure>
        <figure>
            <img src="images/sample.png" width="96" height="96" alt="">
            <figcaption>Saundra Pittsley<span>team leader</span></figcaption>
        </figure>
        …
    </div>
    <div class="team-row">
        <figure>
            <img src="images/sample.png" width="96" height="96" alt="">
            <figcaption>Ericka Nobriga<span>art director</span></figcaption>
        </figure>
        <figure>
            <img src="images/sample.png" width="96" height="96" alt="">
            <figcaption>Cody Rousselle<span>senior ui designer</span></figcaption>
        </figure>
    </div>
</section>
</body>

{% endblock %}
