

{% block body %}
    <h1 align="center">Report</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.name }}</td>
                <td>{{ service.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
