{% extends 'base.html.twig' %}

{% block title %}Изменить запись{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Заметка о клиенте {{ client.userClient.surname }} {{ client.userClient.name }} </h1>

        {{ include('diary/_form.html.twig', {'button_label': 'Изменить'}) }}

        <a href="{{ path('app_diary_index', {'client' : client.id}) }}">Назад</a>
    </div>
{% endblock %}
