{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
    <div class="container">
    <h3>Выберите клиента для просмотра диалога:</h3>
    <ul>
        {% for client in clients %}
            <li><a type="button" class="btn btn-primary" href="{{ path('app_message1', {'id' : client[0].id}) }}">
                    {{ client[0].userClient.name }} {{ client[0].userClient.surname }}
                    {% if client[1] > 0 %}
                        <span class="badge badge-light">{{ client[1] }}</span>
                    {% endif %}
                </a></li>
            <p></p>
        {% endfor %}
    </ul>
    </div>
{% endblock %}
