{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}

    <div class="js-last-comments container border border-2" style="overflow: scroll; height: 500px;">
    {% include 'message/_messages_blocks_workers.html.twig' %}
    </div>

    <div class="container">
        <h5>Написать сообщение {{ client.userClient.name }}</h5>
        {{ include('message/_form.html.twig') }}
    </div>
    {% block javascripts %}

        {{ parent() }}
        <script>

            setInterval(function () {
                $.ajax({
                    method: 'POST',
                    url: {{ path('last_comments1', {'id': client.id}) }}
                }).done(function (data) {
                    $('.js-last-comments').html(data);
                });
            }, 1000);
        </script>
    {% endblock %}

{% endblock %}
