{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
    <style>


        {
            margin: 0
        ;
            padding: 0
        ;
            box-sizing: border-box
        ;
        }

        .chat {
            padding: 40px;
        }

        .message {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        .message--user-1 + .message--user-2,
        .message--user-2 + .message--user-1 {
            margin-top: 1em;
        }

        .message--user-1 + .message--user-1,
        .message--user-2 + .message--user-2 {
            margin-top: .5em;
        }

        .message__time {
            font-size: 10px;
            color: #B0413E;
            width: 100%;
            margin: 0 0 5px 50px;
        }

        .message__author-pic {
            margin: 0 10px 0 0;
        }

        .message__text {
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #69b4f3;
            background-color: #bfe2ff;
            max-width: 70%;
        }

        .message--user-2 {
            justify-content: flex-end;
        }

        .message--user-2 .message__time {
            text-align: right;
            margin: 0 50px 5px 0;
        }

        .message--user-2 .message__author-pic {
            order: 1;
            margin: 0 0 0 10px;
        }

        .message--user-2 .message__text {
            background-color: #69b4f3;
        }
    </style>
    <div class="js-last-comments">
        {% include 'message/_messages_blocks.html.twig' %}
    </div>
    {{ include('message/_form.html.twig') }}

    {% block javascripts %}
        {{ parent() }}
        <script>

            setInterval(function () {
                $.ajax({
                    method: 'POST',
                    url: {{path('last_comments', {'id': worker.id})}}
                }).done(function (data) {
                    $(".js-last-comments").html(data);
                });
            }, 1000);
        </script>
    {% endblock %}

{% endblock %}
