{% extends 'base.html.twig' %}

{% block title %}New Kpi{% endblock %}

{% block body %}
    <div class="container">
    <h1>Создать Kpi</h1>

    {{ include('kpi/_form.html.twig') }}

    <a href="{{ path('app_kpi_index') }}">Вернуться</a>
    </div>
{% endblock %}
